<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.4
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>Metronic | Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/faculteadmin/global/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/faculteadmin/global/plugins/simple-line-icons/simple-line-icons.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/faculteadmin/global/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/faculteadmin/global/plugins/uniform/css/uniform.default.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/faculteadmin/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{{ asset('bundles/faculteadmin/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/faculteadmin/global/plugins/morris/morris.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/faculteadmin/global/plugins/fullcalendar/fullcalendar.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/faculteadmin/global/plugins/jqvmap/jqvmap/jqvmap.css')}}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{{ asset('bundles/faculteadmin/global/css/components.min.css')}}" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{{ asset('bundles/faculteadmin/global/css/plugins.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/faculteadmin/pages/css/profile.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/faculteadmin/global/plugins/cubeportfolio/css/cubeportfolio.css')}}" rel="stylesheet" type="text/css" />

    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="{{ asset('bundles/faculteadmin/layouts/layout4/css/layout.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/faculteadmin/layouts/layout4/css/themes/light.min.css')}}" rel="stylesheet" type="text/css" id="style_color" />
    <link href="{{ asset('bundles/faculteadmin/layouts/layout4/css/custom.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="{{ asset('bundles/faculteadmin/favicon.ico')}}" /> </head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="index.html">
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-on-mobile"> Administration</span>
                            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                            <img alt="" class="img-circle" src="{{ asset('bundles/faculteadmin/layouts/layout4/img/avatar9.jpg')}}" /> </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                            <li>
                                <a href="{{ path('faculte_front_homepage') }}">
                                    <i class="icon-lock"></i> Déconnexion </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse" style="margin-top: -4%">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li class="nav-item {% if app.request.attributes.get('_route') == "faculte_admin_homepage"%}
                     active open selected ms-hover
                         {% endif %}">
                    <a href="{{ path('faculte_admin_homepage') }}" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">Accueil</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item  {% if app.request.attributes.get('_route') == "faculte_admin_professionels"
                or app.request.attributes.get('_route') == "faculte_admin_ajouter"
                or app.request.attributes.get('_route') == "faculte_admin_modifier"
                or app.request.attributes.get('_route') == "faculte_admin_consulter"
                or app.request.attributes.get('_route') == "faculte_admin_particuliers"
                or app.request.attributes.get('_route') == "faculte_admin_modifier_particuliers"
                or app.request.attributes.get('_route') == "faculte_admin_consulter_particuliers"
                or app.request.attributes.get('_route') == "faculte_admin_associations"
                or app.request.attributes.get('_route') == "faculte_admin_modifier_associations"
                or app.request.attributes.get('_route') == "faculte_admin_consulter_associations"%}
                           active
                         {% endif %}">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-user"></i>
                        <span class="title">Comptes</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item {% if app.request.attributes.get('_route') == "faculte_admin_ajouter" %} active {% endif %} ">
                            <a href="{{ path('faculte_admin_ajouter') }}" class="nav-link ">
                                <span class="title">Ajout compte</span>
                            </a>
                        </li>
                        <li class="nav-item {% if app.request.attributes.get('_route') == "faculte_admin_professionels"
                            or app.request.attributes.get('_route') == "faculte_admin_modifier"
                            or app.request.attributes.get('_route') == "faculte_admin_consulter" %} active {% endif %} ">
                            <a href="{{ path('faculte_admin_professionels') }}" class="nav-link ">
                                <span class="title">Comptes Professionels</span>
                            </a>
                        </li>
                        <li class="nav-item {% if app.request.attributes.get('_route') == "faculte_admin_particuliers"
                            or app.request.attributes.get('_route') == "faculte_admin_modifier_particuliers"
                            or app.request.attributes.get('_route') == "faculte_admin_consulter_particuliers" %} active {% endif %} ">
                            <a href="{{ path('faculte_admin_particuliers') }}" class="nav-link ">
                                <span class="title">Comptes Particuliers</span>
                            </a>
                        </li>
                        <li class="nav-item {% if app.request.attributes.get('_route') == "faculte_admin_associations"
                            or app.request.attributes.get('_route') == "faculte_admin_modifier_associations"
                            or app.request.attributes.get('_route') == "faculte_admin_consulter_associations" %} active {% endif %} ">
                            <a href="{{ path('faculte_admin_associations') }}" class="nav-link ">
                                <span class="title">Comptes Associations</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  {% if app.request.attributes.get('_route') == "faculte_admin_locations"
                    or app.request.attributes.get('_route') == "faculte_admin_ajouter_locations"
                    or app.request.attributes.get('_route') == "faculte_admin_modifier_locations"
                    or app.request.attributes.get('_route') == "faculte_admin_supprimer_locations"
                    or app.request.attributes.get('_route') == "faculte_admin_consulter_Location"
                    or app.request.attributes.get('_route') == "faculte_admin_ventes"
                    or app.request.attributes.get('_route') == "faculte_admin_ajouter_ventes"
                    or app.request.attributes.get('_route') == "faculte_admin_modifier_ventes"
                    or app.request.attributes.get('_route') == "faculte_admin_supprimer_ventes"
                    or app.request.attributes.get('_route') == "faculte_admin_consulter_vente"%}
                           active
                         {% endif %}">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-user"></i>
                        <span class="title">Demandes</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  {% if app.request.attributes.get('_route') == "faculte_admin_locations"
                            or app.request.attributes.get('_route') == "faculte_admin_ajouter_locations"
                            or app.request.attributes.get('_route') == "faculte_admin_modifier_locations"
                            or app.request.attributes.get('_route') == "faculte_admin_supprimer_locations"
                            or app.request.attributes.get('_route') == "faculte_admin_consulter_Location"%}
                           active
                         {% endif %}">
                            <a href="{{ path('faculte_admin_locations') }}" class="nav-link nav-toggle">
                                <i class="fa fa-home"></i>
                                <span class="title">Locations</span>
                            </a>
                        </li>
                        <li class="nav-item  {% if app.request.attributes.get('_route') == "faculte_admin_ventes"
                            or app.request.attributes.get('_route') == "faculte_admin_ajouter_ventes"
                            or app.request.attributes.get('_route') == "faculte_admin_modifier_ventes"
                            or app.request.attributes.get('_route') == "faculte_admin_supprimer_ventes"
                            or app.request.attributes.get('_route') == "faculte_admin_consulter_vente"%}
                           active
                         {% endif %}">
                            <a href="{{ path('faculte_admin_ventes') }}" class="nav-link nav-toggle">
                                <i class="fa fa-home"></i>
                                <span class="title">Ventes</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper"style="margin-top: -7%">
        <!-- BEGIN CONTENT BODY -->
            {% block content %}
            {% endblock %}
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>
    <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
        <div class="page-quick-sidebar">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab"> Users
                        <span class="badge badge-danger">2</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" data-target="#quick_sidebar_tab_2" data-toggle="tab"> Alerts
                        <span class="badge badge-success">7</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> More
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                <i class="icon-bell"></i> Alerts </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                <i class="icon-info"></i> Notifications </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                <i class="icon-speech"></i> Activities </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                <i class="icon-settings"></i> Settings </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner"> copy,2017 DemoFormation. ALL Rights Reserved|Design by Smart Tech.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
<!--[if lt IE 9]>
<script src="{{ asset('bundles/faculteadmin/global/plugins/respond.min.js')}}"></script>
<script src="{{ asset('bundles/faculteadmin/global/plugins/excanvas.min.js')}}"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="{{ asset('bundles/faculteadmin/global/plugins/jquery.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/faculteadmin/global/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/faculteadmin/global/plugins/js.cookie.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/faculteadmin/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/faculteadmin/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/faculteadmin/global/plugins/jquery.blockui.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/faculteadmin/global/plugins/uniform/jquery.uniform.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/faculteadmin/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
{% block js %}
{% endblock %}
<script src="{{ asset('bundles/faculteadmin/global/scripts/datatable.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/faculteadmin/global/plugins/datatables/datatables.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/faculteadmin/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/faculteadmin/pages/scripts/table-datatables-managed.js') }}" type="text/javascript"></script>
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{ asset('bundles/faculteadmin/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js')}}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{{ asset('bundles/faculteadmin/global/scripts/app.min.js')}}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset('bundles/faculteadmin/pages/scripts/portfolio-4.min.js')}}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->



<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{{ asset('bundles/faculteadmin/layouts/layout4/scripts/layout.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/faculteadmin/layouts/layout4/scripts/demo.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/faculteadmin/layouts/global/scripts/quick-sidebar.min.js')}}" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>