<p> Bonjour <b>{{ Particulier.nom }} {{  Particulier.prenom }}</b> </p>
<p> Nous avons créé un compte sur notre site web,<p>
<p> Nous vous invitons à découvrir en détail les fonctionnalités proposées en cliquant <a href=""> ici </a> </p>
<p>Votre Identifiant : <b>{{ Particulier.user.username }}</b></p>
<p>Votre Identifiant : <b>{{ Particulier.user.email }}</b></p>
<p>Votre mot de passe : <b>{{ passwordParticulier }}</b></p>
<br>
<p>Cordialement</p>
<p>Agent Administratif</p>

