{% extends "FaculteAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="page-content">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('faculte_admin_homepage') }}">Accueil</a> /
                </li>
                <li>
                    <a href="{{ path('faculte_admin_professionels') }}">liste des Professionels</a> /
                </li>
                <li class="active">Ajout d'un Compte</li>
            </ol>
        </div>
        <!-- END BREADCRUMBS -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light form-fit bordered">
                    <div class="portlet-title">
                        <div class="caption ">
                            <i class="fa fa-edit font-green  "></i>
                            <span class="caption-subject font-green ">Formulaire d'ajout</span>
                        </div>
                    </div>
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="form-group form-md-radios has-warning">
                        <div class="col-md-9" style="margin-left: 28%">
                            <div class="md-radio-inline">
                                <div class="md-radio">
                                    <input type="radio" id="checkbox1_8" name="radio2" class="md-radiobtn" checked="">
                                    <label for="checkbox1_8">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Sociéte </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox1_9" name="radio2" class="md-radiobtn">
                                    <label for="checkbox1_9">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Particulier </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox1_10" name="radio2" class="md-radiobtn">
                                    <label for="checkbox1_10">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Association </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body form" id="form1">
                        <form  enctype="multipart/form-data" class="form-horizontal" action="" method="POST" role="form">
                            <div class="form-body col-md-9">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <div class="col-md-12 text-center" style="color:red;">
                                        <b>
                                            {{ form_errors(form) }}
                                            {{ form_errors(form2) }}
                                            {%if errorParticulier is defined  %}
                                                {{ errorParticulier }}
                                            {% endif %}
                                            {%if errorPros is defined  %}
                                                {{ errorPros }}
                                            {% endif %}
                                            {%if errorPros is defined  %}
                                                {{ errorPros }}
                                            {% endif %}
                                        </b>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <div class="form-body">
                                        <label style="margin-left: 5%;color: green;margin-top:-25px;font-size: x-large"> <i class="fa fa-pencil "></i> Identification</label><br><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group" >
                                                    <label class="col-md-4 control-label">Login <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-key"></i>
                                                                    </span>
                                                            {{ form_widget(form2.username,{'attr': {'class': 'form-control','placeholder':'Login' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Email <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form2.email,{'attr': {'class': 'form-control','placeholder':'Email' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-envelope"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Mot de passe <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-lock"></i>
                                                                    </span>
                                                            {{ form_widget(form2.plainPassword.first,{'attr': {'class': 'form-control','placeholder':'Mot de passe' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Confirmer votre mot de passe <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form2.plainPassword.second,{'attr': {'class': 'form-control','placeholder':'Confirmer votre mot de passe' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-lock"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div><br>
                                        <!--/row-->
                                        <label style="margin-left: 5%;color: green;font-size: x-large"> <i class="fa fa-pencil "></i> Formulaire d'inscription</label><br><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Nom <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                                                            {{ form_widget(form.nom,{'attr': {'class': 'form-control','placeholder':'Nom de sociéte' }} ) }} </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Prénom <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form.prenom,{'attr': {'class': 'form-control','placeholder':'Prénom de sociéte' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Matricule <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-car"></i>
                                                                    </span>
                                                            {{ form_widget(form.matricule,{'attr': {'class': 'form-control','placeholder':'Matricule' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Organisation <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form.organisation,{'attr': {'class': 'form-control','placeholder':'Organisation' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-globe"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Région <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                     <i class="fa fa-map-o"></i>
                                                                    </span>
                                                            {{ form_widget(form.region,{'attr': {'class': 'form-control','placeholder':'Région' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Adresse <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form.adresse,{'attr': {'class': 'form-control','placeholder':'Adresse' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-map-marker"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Ville <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                           <i class="fa fa-map-marker"></i>
                                                                    </span>
                                                            {{ form_widget(form.ville,{'attr': {'class': 'form-control','placeholder':'Ville' }} ) }}
                                                        </div>
                                                        <div>
                                                            <td>{{ form_errors(form.telephone) }}</td>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Télephone <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form.telephone,{'attr': {'class': 'form-control','placeholder':'Télephone' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-phone"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><br><br>
                                        <!--/row-->
                                        <label style="margin-left: 5%;color: green;font-size: x-large"> <i class="fa fa-pencil "></i> Formulaire  optional</label><br><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Code Postal </label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-cc"></i>
                                                                    </span>
                                                            {{ form_widget(form.codepostal,{'attr': {'class': 'form-control','placeholder':'Code Postal' }} ) }}
                                                        </div>
                                                        <div>
                                                            <td>{{ form_errors(form.telephone) }}</td>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Portable</label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form.portable,{'attr': {'class': 'form-control','placeholder':'Portable' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                      <i class="fa fa-mobile-phone "></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Fax</label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                      <i class="fa fa-fax"></i>
                                                                    </span>
                                                            {{ form_widget(form.fax,{'attr': {'class': 'form-control','placeholder':'Fax' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Logo de sociéte</label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form.pathFile,{'attr': {'class': 'form-control','placeholder':'Logo de sociéte' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                     <i class="fa fa-file-o"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        {{ form_rest(form) }}
                                        {{ form_rest(form2) }}
                                    </div>
                                    <!-- END FORM-->
                                </div>
                            </div>
                            <div class="form-actions ">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Ajout</button>
                                    <button type="button" class="btn default" onclick='location.href="{{ path('faculte_admin_professionels') }}"'>Annuler</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="portlet-body form hiddenForm" id="form2" >
                        <form  enctype="multipart/form-data" class="form-horizontal" action="" method="POST" role="form">

                            <div class="form-body col-md-9">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <div class="col-md-12 text-center" style="color:red;">
                                        <b>
                                            {{ form_errors(form3) }}
                                            {{ form_errors(form4) }}
                                            {%if errorParticulier is defined  %}
                                                {{ errorParticulier }}
                                            {% endif %}
                                        </b>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <div class="form-body">

                                        <label style="margin-left: 5%;color: green;margin-top:-25px;font-size: x-large"> <i class="fa fa-pencil "></i> Identification</label><br><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group" >
                                                    <label class="col-md-4 control-label">Login <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-key"></i>
                                                                    </span>
                                                            {{ form_widget(form4.username,{'attr': {'class': 'form-control','placeholder':'Login' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Email <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form4.email,{'attr': {'class': 'form-control','placeholder':'Email' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-envelope"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Mot de passe <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-lock"></i>
                                                                    </span>
                                                            {{ form_widget(form4.plainPassword.first,{'attr': {'class': 'form-control','placeholder':'Mot de passe' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Confirmer votre mot de passe <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form4.plainPassword.second,{'attr': {'class': 'form-control','placeholder':'Confirmer votre mot de passe' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-lock"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div><br>
                                        <!--/row-->
                                        <label style="margin-left: 5%;color: green;font-size: x-large"> <i class="fa fa-pencil "></i> Formulaire d'inscription</label><br><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Nom <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                                                            {{ form_widget(form3.nom,{'attr': {'class': 'form-control','placeholder':'Nom ' }} ) }} </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Prénom <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form3.prenom,{'attr': {'class': 'form-control','placeholder':'Prénom ' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">CIN <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-car"></i>
                                                                    </span>
                                                            {{ form_widget(form3.cin,{'attr': {'class': 'form-control','placeholder':'Carte identifier personnel' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Date de naissance <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form3.dateNaissance,{'attr': {'class': 'form-control'},'type':'date'} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-globe"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Région <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                     <i class="fa fa-map-o"></i>
                                                                    </span>
                                                            {{ form_widget(form3.region,{'attr': {'class': 'form-control','placeholder':'Région' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Adresse <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form3.adresse,{'attr': {'class': 'form-control','placeholder':'Adresse' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-map-marker"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Ville <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                           <i class="fa fa-map-marker"></i>
                                                                    </span>
                                                            {{ form_widget(form3.ville,{'attr': {'class': 'form-control','placeholder':'Ville' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Lieu de naissance <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form3.lieuNaissance,{'attr': {'class': 'form-control','placeholder':'lieu de naissance' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-phone"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><br><br>
                                        <!--/row-->
                                        <label style="margin-left: 5%;color: green;font-size: x-large"> <i class="fa fa-pencil "></i> Formulaire  de contact</label><br><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Télephone</label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-cc"></i>
                                                                    </span>
                                                            {{ form_widget(form3.telephone,{'attr': {'class': 'form-control','placeholder':'Télephone' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Portable <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form3.portable,{'attr': {'class': 'form-control','placeholder':'Portable' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                      <i class="fa fa-mobile-phone "></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        {{ form_rest(form3) }}
                                        {{ form_rest(form4) }}
                                    </div>
                                    <!-- END FORM-->
                                </div>
                            </div>
                            <div class="form-actions ">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Ajout</button>
                                    <button type="button" class="btn default" onclick='location.href="{{ path('faculte_admin_particuliers') }}"'>Annuler</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="portlet-body form hiddenForm" id="form3" >
                        <form  enctype="multipart/form-data" class="form-horizontal" action="" method="POST" role="form">

                            <div class="form-body col-md-9">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <div class="col-md-12 text-center" style="color:red;">
                                        <b>
                                            {{ form_errors(form5) }}
                                            {{ form_errors(form6) }}
                                            {%if errorAssociation is defined  %}
                                                {{ errorAssociation }}
                                            {% endif %}
                                        </b>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <div class="form-body">

                                        <label style="margin-left: 5%;color: green;margin-top:-25px;font-size: x-large"> <i class="fa fa-pencil "></i> Identification</label><br><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group" >
                                                    <label class="col-md-4 control-label">Login <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-key"></i>
                                                                    </span>
                                                            {{ form_widget(form6.username,{'attr': {'class': 'form-control','placeholder':'Login' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Email <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form6.email,{'attr': {'class': 'form-control','placeholder':'Email' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-envelope"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Mot de passe <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-lock"></i>
                                                                    </span>
                                                            {{ form_widget(form6.plainPassword.first,{'attr': {'class': 'form-control','placeholder':'Mot de passe' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Confirmer votre mot de passe <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form6.plainPassword.second,{'attr': {'class': 'form-control','placeholder':'Confirmer votre mot de passe' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-lock"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div><br>
                                        <!--/row-->
                                        <label style="margin-left: 5%;color: green;font-size: x-large"> <i class="fa fa-pencil "></i> Formulaire d'inscription</label><br><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Nom <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                                                            {{ form_widget(form5.nom,{'attr': {'class': 'form-control','placeholder':'Nom ' }} ) }} </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Prénom <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form5.prenom,{'attr': {'class': 'form-control','placeholder':'Prénom ' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Numéro d'enregistrement <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-car"></i>
                                                                    </span>
                                                            {{ form_widget(form5.numEnreg,{'attr': {'class': 'form-control','placeholder':'Numéro enregistrement' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Leader officiel<span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form5.leaderOff,{'attr': {'class': 'form-control'},'placeholder':'Leader officiel'} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-globe"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Activité <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                     <i class="fa fa-map-o"></i>
                                                                    </span>
                                                            {{ form_widget(form5.activite,{'attr': {'class': 'form-control','placeholder':'Activité' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Numéro enregistrement de sécurité <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form5.numSecu,{'attr': {'class': 'form-control','placeholder':'Numéro enregistrement de sécurité' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-map-marker"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Ville <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                           <i class="fa fa-map-marker"></i>
                                                                    </span>
                                                            {{ form_widget(form5.ville,{'attr': {'class': 'form-control','placeholder':'Ville' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Région <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form5.region,{'attr': {'class': 'form-control','placeholder':'Région' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-phone"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><br><br>
                                        <!--/row-->
                                        <label style="margin-left: 5%;color: green;font-size: x-large"> <i class="fa fa-pencil "></i> Formulaire  de contact</label><br><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Télephone</label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-cc"></i>
                                                                    </span>
                                                            {{ form_widget(form5.tel,{'attr': {'class': 'form-control','placeholder':'Télephone' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Portable <span style="color: red">*</span></label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                            {{ form_widget(form5.portable,{'attr': {'class': 'form-control','placeholder':'Portable' }} ) }}
                                                            <span class="input-group-addon input-circle-right">
                                                                      <i class="fa fa-mobile-phone "></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Fax</label>
                                                    <div class="col-md-8.5">
                                                        <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-cc"></i>
                                                                    </span>
                                                            {{ form_widget(form5.fax,{'attr': {'class': 'form-control','placeholder':'Fax' }} ) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        {{ form_rest(form5) }}
                                        {{ form_rest(form6) }}
                                    </div>
                                    <!-- END FORM-->
                                </div>
                            </div>
                            <div class="form-actions ">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Ajout</button>
                                    <button type="button" class="btn default" onclick='location.href="{{ path('faculte_admin_particuliers') }}"'>Annuler</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- END SAMPLE FORM PORTLET-->
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
{% endblock %}

{% block js %}
    <style>
        .hiddenForm {
            display:none;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#checkbox1_8").click(function () {
                if ($("#checkbox1_8").prop('checked')) {
                    $("#form1").removeClass('hiddenForm');
                    $("#form2").addClass("hiddenForm");
                }
            });
            $("#checkbox1_9").click(function () {
                if ($("#checkbox1_9").prop('checked')) {
                    $("#form2").removeClass( 'hiddenForm' );
                    $("#form1").addClass("hiddenForm");
                }else{
                    $("#form1").removeClass( 'hiddenForm' );
                    $("#form2").addClass("hiddenForm");
                }
            });
            $("#checkbox1_10").click(function () {
                if ($("#checkbox1_10").prop('checked')) {
                    $("#form1").addClass( 'hiddenForm' );
                    $("#form2").addClass( 'hiddenForm' );
                    $("#form3").removeClass("hiddenForm");
                }
            });
        });
    </script>
{% endblock %}