{% extends "FaculteAdminBundle::layout.html.twig"%}

{% block content %}
    <div class="page-content">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('faculte_admin_homepage') }}">Accueil</a> /
                </li>
                <li>
                    <a href="{{ path('faculte_admin_regions') }}">liste des Régions</a> /
                </li>
                <li class="active">Ajout d'un Région</li>
            </ol>
        </div>
        <!-- END BREADCRUMBS -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light form-fit bordered">
                    <div class="portlet-title">
                        <div class="caption ">
                            <i class="fa fa-edit font-green  "></i>
                            <span class="caption-subject font-green ">Formulaire d'ajout</span>
                        </div>
                        <div class="actions">

                        </div>
                    </div>
                    <!-- BEGIN SAMPLE FORM PORTLET-->

                    <div class="portlet-body form ">
                        <form class="form-horizontal" action="" method="POST" role="form">
                            <div class="form-body col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12 " style="color:red;margin-left: 25%;">
                                        {{ form_errors(form) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.region,null, {'label_attr': {'class': 'col-md-3 control-label'} }) }}</label>
                                    <div class="col-md-3">
                                        {{ form_widget(form.region,{'attr': {'class': 'form-control','placeholder':'Région' }} ) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                            <div class="form-actions ">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">Enregistrer</button>
                                    <button type="button" class="btn default" onclick='location.href="{{ path('faculte_admin_regions') }}"'>Annuler</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- END SAMPLE FORM PORTLET-->
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
{% endblock %}